.toolbar {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
}
.filter-sort,
.show {
  position: relative;
}
.filter-sort label,
.show label {
  padding: 0 15px;
}
#sort-by,
#show {
  outline: none;
  border: none;
  width: 200px;
  color: var(--text);
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  background-color: #dadada;
}
.filter-sort span,
.show span {
  position: absolute;
  top: 20%;
  right: 5%;
}
